* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* =========================
   HEADER / NAV
   ========================= */
#header {
  background: #2a7b9b;
  background: radial-gradient(
    circle,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(42, 123, 155, 1) 100%
  );
  color: #111827;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10em;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
#nav-bar li {
  list-style: none;
}
#nav-bar ul {
  display: flex;
  gap: 1.5rem;
}
.nav-link {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-link:hover {
  color: #1e1e1e;
  cursor: pointer;
}
/* =========================
   FORM AND CTA Button
   ========================= */
input[type="email"] {
  margin: 0 auto;
  display: block;
  padding: 0.5em;
  border: 1px solid #111827;
}
input[type="submit"] {
  padding: 1em;
  border-radius: 10em;
  border: 2px solid #111827;
  background-color: #16a34a;
  color: #111827;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* =========================
   Images styles
   ========================= */
#header img {
  width: 200px;
  height: auto;
}
.image {
  max-width: 300px;
  width: 100%;
}
.image img {
  width: 100%;
  height: auto;
}
video {
  display: block;
  margin: 0 auto 2rem auto;
}

/* =========================
   League grid
   ========================= */
#league,
#pickup {
  background-color: #f9fafb;
  color: #6b7280;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}
#league h2,
#pickup h2 {
  color: #111827;
  margin-bottom: 0.5rem;
}
.description {
  text-align: justify;
}
.description {
  margin-bottom: 0.8em;
}
